.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  border: 2px solid grey;
  background-color: purple;
  border-radius: 10px;
  box-shadow: 2px 2px 10px grey;
}

.title {
  padding: 5px;
  color: white;
  font-family: cursive;
  text-decoration: underline;
}
